body{
    background-color: rgba(0, 0, 5, 0.85);
    color: #fff;
}
article{
    display: grid;        
    grid-template-columns: 1fr 0.5in [start] 1.25in 5in 1.25in [end] 0.5in 1fr;
    margin-bottom: 100px;
    padding: 0.5in 0;
    align-items: center;
}
article *{
    grid-column: start / end;
}
@media (max-width: 8.5in){
    article{
        grid-template-columns: 1fr 5% [start] 15% 60% 15% [end] 5% 1fr;;
    }
}
.blog-articles{
    justify-content: center;
    align-items: center;
}
.blog-links{
    color: rgba(89, 114, 255, 1);
    text-decoration:underline dotted;
}
.title-container{
    text-align: center;
}
h1, h2, h3, time, h3{    
    margin-top: 3.5rem;
}
h1, h2, h3, time, h3{
    margin-left: 0;
    margin-right: 0;
    padding: 0 0;
    margin-bottom: 1.75rem;
}
p{
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding: 0 0;
    margin-bottom: 1.75rem;
}

h1{
    font-size: 2rem;
    font-weight: 700;
}
h2{
    font-size: 1.5rem;
}
.main-points-header-2{
    text-align: center;
}
time{
    font-size: 1rem;
    font-weight: 700;
}
h3{
    font-size: 1rem;
    font-weight: 700;
}
p{
    font-size: 1rem;
}
figure * {
    display: block;
    justify-content: center;
    align-content: center;
}
figcaption {
    margin-top: 0.5rem;
    display: flex;
    justify-content: center;
}
figcaption p{
    color:rgba(241, 241, 241, 0.5);
}