#blogs{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    background-color: rgba(0, 0, 5, 0.85);
}
.headings#blog-h1{
    color: white;
}
.blogs-blog-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    flex-wrap: wrap;
}
.blogs-blog-box{
    width: 700px;
    background-color: #ffffff;
    border: 1px solid #ececec;
    margin: 20px;
}
.blogs-blog-img{
    width: 100%;
    height: auto;
}
.blogs-blog-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.blogs-blog-text{
    padding: 30px;
    display: flex;
    flex-direction: column;
}
.blogs-blog-text span{
    color: rgba(89, 114, 255, 1);
    font-size: 0.9rem;
}
.blogs-blog-text .blog-title{
    font-size: 1.3rem;
    font-weight: 500;
    color: #272727;
}
.blogs-blog-text .blog-title:hover{
    color: rgba(89, 114, 255, 1);
    transition: all ease 0.3s;
}
.blogs-blog-text p{
    color: #9b9b99;
    font-size: 0.9rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 20px 0px;
}
.blogs-blog-text a{
    color: #0f0f0f;
}
.blogs-blog-text a:hover{
    color: rgba(89, 114, 255, 1);
    transition: all ease 0.3s;
}

@media(max-width: 1250px){
    .blogs-blog-box{
        width: 300px;
    }
}
@media (max-width: 1000px) {
    .blogs-blog-box{
        width: 70%;
    }
}
@media (max-width: 600px) {
    .blogs-blog-box{
        margin: 20px 10px;
        width: 100%;
    }
}